# Logs
!vim/.config/nvim/init.lua
vim/.config/nvim/
!vim/.config/nvim/lua
!vim/.config/nvim/bkp.init.vim
ranger/.config/ranger/plugins
xmonad/.xmonad
fish_variables
vifminfo.json
gtk/.config/gtk-3.0/bookmarks
