# Logs
vim/.config/nvim/autoload/
vim/.config/nvim/plugins/
vim/.config/nvim/plugin/
ranger/.config/ranger/plugins
xmonad/.xmonad
fish_variables
vifminfo.json
gtk/.config/gtk-3.0/bookmarks
vim/.config/nvim/lazy-lock.json
vim/.config/vim/autoload
tmux/.config/tmux/plugins/
