configuration {
  modi: "drun,window,run,ssh";
  font: "UbuntuMono Nerd Font 16";
  show-icons: true;
  theme: "gruvbox-dark.rasi";
  matching: "fuzzy";
  kb-remove-to-eol: "";
  kb-accept-entry: "Control+m,Return,KP_Enter";
  kb-remove-char-back: "BackSpace,Shift+BackSpace";
  kb-row-up: "Up,Control+k";
  kb-row-down: "Down,Control+j";
}
