/* OVERRIDE */
#header {
  display: none !important;
}

#titlebar {
  display: none !important;
}

/* Make pinned tabs only show as icons */
.tab-position {
    position: static !important;
    display: inline !important;
}
.tab.pinned {
    background-color: var(--colorBg);
    display: table-cell;
}
.tab.pinned .tab-header {
    padding: 6px;
}
.tab.pinned .title, .tab.pinned .close {
    display: none;
}
.newtab {
    top: inherit !important;
}
.tab.tab-group {
    border-top-width: 0px !important;
}
.tab-group-indicator {
    position: static !important;
    display: flex !important;
}
.tab-indicator {
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    height: 5px !important;
}
